@charset "utf-8";
@import url(./normalize.css);
.container{
  background-color: silver;
  display:flex;
  flex-direction:row;
}
/* .container > *{
  flex-grow:1;
} */
.header, .navigation, .main, .footer{
  width: 100%;
}
.header{
  background-color: yellowgreen;
  height: 10vh;
}
.navigation{
  background-color: pink;
  height: 20vh;
  width:30%;
}
.main{
  background-color: skyblue;
  height: 60vh;
  width:70%;
}
.footer{
  background-color: orange;
  height: 10vh;
  align-self: flex-end;
}